<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>"this is page title"</title>
</head>
<body>
    <h1>Forms</h1>
    <form novalidate>
        <label> Search:</label>
        <input type ="search" id ="Search" name =" search" autofocus />
        <input type ="submit" value =" Go!" />
    </form>
    <form>
        <div class ="col">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="First and Last" required />
        </div>
    </form>
</body>
</html>
